<!-- <h2>{{ title() }}</h2>
  <h3>{{ getTitle() }}</h3>
  <h4>{{ 'Hello & Welcome to ' + Title }}</h4>
  <p>
    {{ firstName }} {{ lastName }}
  </p>
  <p>
    {{ 100 * 85 }}
  </p>
  <p>
    {{ max(200, 346)}}
  </p>
  <hr/>
  <p>Show me <span class = '{{ giveMeRead }}'>Red</span></p>
  <p style.color="{{ giveMeRead }}"></p>
  <hr />
  <div>
    <img src="{{ itemImage }}" alt="Angular" />
  </div>
  <hr/>
  <label>Enter your name: </label>
  <input (keyup)="0" #name placeholder="Enter your name"/>
  <p>Welcome {{ name.value }}</p> -->

<!-- <p>
  Items
</p>
<ul> -->
  <!-- <li *ngFor="let it of items">
    {{ it.code }} - {{ it.name }} : {{ it.price }}
  </li> -->
  <!-- @for (item of items; track item.code; ) {
    <li >
      {{ item.code }}: {{ item.name }} - {{ item.price }}
    </li>
} @empty {
  <p>No items available</p>
}
</ul> -->
<!-- <p>{{ script }}</p>
<p>{{ div }}</p> -->

<!-- <p>Evaluate: {{ firstName }}</p>
<p ngNonBindable>Do not Evaluate: {{ lastName }}</p> -->

<!-- <P>Item: </P>
<p>
  Item Code: {{ item?.code! }}
</p>
<p>
  Item Name: {{ item?.name! }}
</p>
<p>
  Item Price: {{ item?.price! }}
</p> -->

<router-outlet></router-outlet>