.blue {
    background-color: lightblue;
}

.tooltip{
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color: blanchedalmond;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.5);
}